<h2>Sign in</h2>
<% form_for(:session, :url => sessions_path) do |f| %>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.text_field(:email) %>
</div>
<div class="field">
  <%= f.label :password %><br/>
  <%= f.password_field(:password) %>
</div>
<div class="actions">
  <%= f.submit "Najavi Se" %>
</div>
<% end %>
<p>Nov korisnik? <%= link_to "Prijavi se sega!", signup_path %></p>