<%= f.error_messages %>
<div class="field">
  <%= f.label t(:name) %><br/>
  <%= f.text_field(:name) %>
</div>
<div class="field">
  <%= f.label t(:email) %><br/>
  <%= f.text_field(:email) %>
</div>
<div class="field">
  <%= f.label t(:password) %><br/>
  <%= f.password_field(:password) %>
</div>
<div class="field">
  <%= f.label t(:confirm)%><br/>
  <%= f.password_field(:password_confirmation) %>
</div>
