<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar @user.email %>
        <%= h @user.name %>
      </h2>
      <% unless @user.microposts.empty? %>
        <%= will_paginate @microposts %>
        <table class="microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% else %>
        <table class="microposts">
          <tr>
            <td><%= t(:empty_list) %> </td>
          </tr>
        </table>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong><%= t(:name) %> </strong> <%= link_to h(@user.name), @user %><br />
      <strong><%= t(:url) %></strong>  <%= link_to user_path(@user), @user %><br/>
      <strong><%= t(:micropost) %></strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>